<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

  <springProperty scope="context" name="spring.application.name" source="spring.application.name"></springProperty>
  <springProperty scope="context" name="server.port" source="server.port"></springProperty>
    <!-- 日志存放路径 -->
	<property name="log.path" value="logs/${spring.application.name}" />

  <!--日志输出格式：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
  <property name="console.pattern" value="%yellow(%-12(%d{yyyy-MM-dd HH:mm:ss.SSS})) -%highlight(%-5level) [%thread]  %logger{36} - %msg%n"/>
  <property name="file_log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n" />

    <!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${console.pattern}</pattern>
    </encoder>
	</appender>

    <!-- 系统日志输出 -->
	<appender name="file_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--  日志文件输出的文件名 -->
			<FileNamePattern>${log.path}/log_%d{yyyy-MM-dd}_%i.log</FileNamePattern>
			<!-- 日志文件保留天数 -->
			<MaxHistory>10</MaxHistory>
			<!-- 日志文件最大尺寸 -->
			<maxFileSize>1GB</maxFileSize>
		</rollingPolicy>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${file_log.pattern}</pattern>
		</encoder>
	</appender>

  <!-- 系统模块日志级别控制  -->
	<logger name="com.ruoyi" level="info" />
	<!-- Spring日志级别控制  -->
	<logger name="org.springframework" level="warn" />

	<root level="info">
		<appender-ref ref="console" />
	</root>
	
	<!--系统操作日志-->
  <root level="info">
      <appender-ref ref="file_log" />
  </root>

</configuration>